@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
	font-family: "Twemoji";
	src: url(/fonts/Twemoji.Mozilla.ttf);
	unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+1F900-1F9FF, U+2600-26FF;
}
@font-face {
	font-family: "Inter";
	src: url(/fonts/Inter.ttf);
}

::-moz-selection {
	/* Code for Firefox */
	background: #fc7b3f;
	color: #fff;
}

::selection {
	background: #fc7b3f;
	color: #fff;
}

*::-webkit-scrollbar {
	-webkit-appearance: none;
	background-color: #111;
}
*::-webkit-scrollbar:vertical {
	width: 11px;
}
*::-webkit-scrollbar:horizontal {
	height: 11px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #111; /* should match background, can't be transparent */
	background-color: #888;
	transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
	border-radius: 8px;
	border: 2px solid #111; /* should match background, can't be transparent */
	background-color: #888;
}
*::-webkit-scrollbar-track {
	background-color: #111;
	border-radius: 8px;
}

html {
	overflow-x: hidden;
}

body {
	background: #000;
	color: #fff;
	font-family: "Twemoji", "Inter", sans-serif;
	margin: 0;
	padding: 0;
}

.bg-v-grid {
	mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);
}
.bg-h-grid {
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

button {
	user-select: none;
}

@keyframes pulse {
	0% {
		opacity: 1;
		filter: blur(20px);
	}
	50% {
		opacity: 0.5;
		filter: blur(18px);
	}
	100% {
		opacity: 1;
		filter: blur(20px);
	}
}

.animated-glow:before {
	animation: pulse 5s infinite;
}

table td,
table th {
	padding: 0.75rem 1rem;
}
